CompileFlags:
  Add:
    - -I/opt/homebrew/include/wx-3.3
    - -I/opt/homebrew/lib/wx/include/osx_cocoa-unicode-3.3
    - -DWXUSINGDLL
    - -D__WXMAC__
    - -D__WXOSX__
    - -D__WXOSX_COCOA__
    - -D_FILE_OFFSET_BITS=64
    - -DwxDEBUG_LEVEL=0
    - -std=c++17
    - -DWX_STATIC
    - -D_UNICODE
    - -DUNICODE
    - -DMASOUDY_DICTIONARY_VERSION="1.0.0"
    - -DMASOUDY_DICTIONARY_NAME="Masoudy Dictionary"
    - -D_WIN32_WINNT=0x0601
    - -DWIN32_LEAN_AND_MEAN
    - -DNOMINMAX
    - -I./src 